/*Obsidian Template Theme CSS*/

body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
}

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

/* Vault Specific Styles */
/* Sidebar */

/*Riviera Variables*/

.theme-light {
	--riviera-bg: hsl(
		var(--accent-h),
		calc(var(--accent-s) * 1.5),
		calc(var(--accent-l) * 2)
	);
	--riviera-color: var(--color-accent);
}

/*--color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(calc(var(--accent-h) - 1), calc(var(--accent-s) * 1.01), calc(var(--accent-l) * 1.075));
  --color-accent-2: hsl(calc(var(--accent-h) - 3), calc(var(--accent-s) * 1.02), calc(var(--accent-l) * 1.15));
  --background-secondary-alt: var(--color-base-05);*/

.theme-dark {
	--riviera-bg: hsl(
		var(--accent-h),
		calc(var(--accent-s) * 1.5),
		calc(var(--accent-l) / 2.3)
	);
	--riviera-color: hsl(
		var(--accent-h),
		calc(var(--accent-s) / 1.3),
		calc(var(--accent-l) * 1.25)
	);
}

body {
	--ribbon-background: var(--riviera-bg);
	/*Notes Titles*/
	--inline-title-size: 1.8em;
	--inline-title-color: var(--riviera-color);
	/*Headings*/
	--h1-size: 1.5em;
	--h2-size: 1.4em;
	--h3-size: 1.3em;
	--h4-size: 1.2em;
	--h5-size: 1.1em;
	--h6-size: 1em;
	/*Links*/
	--link-color: var(--riviera-color);
	--link-decoration: none;
	/*File Navigator*/
	--nav-item-background-hover: var(--riviera-bg);
	--nav-item-background-active: var(--riviera-bg);
	/*Icons*/
	--icon-color: var(--riviera-color);
	/*tabs*/
	--tab-background-active: var(--riviera-bg);
	--tab-container-background: var(--riviera-bg);
}

/*.metadata-properties .svg-icon {
	color: rgba(105, 128, 85, 1);
}*/
.inline-title {
	margin-bottom: 2em;
}
