body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
}

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

/* Vault Specific Styles */
/* Sidebar */

/*Riviera Variables*/

.theme-light {
	--riviera-bg: rgba(207, 222, 194, 1);
	--riviera-color: rgba(105, 128, 85, 1);
	--riviera-color-strong: rgb(33, 52, 15, 1);
}

.theme-dark {
	--riviera-bg: rgb(42 51 34);
	--riviera-color: rgb(135 154 119);
	--riviera-color-strong: rgba(207, 222, 194, 1);
}

body {
	--ribbon-background: var(--riviera-bg);
	/*Notes Titles*/
	--inline-title-size: 1.8em;
	--inline-title-color: var(--riviera-color);
	/*Headings*/
	--h1-size: 1.5em;
	--h2-size: 1.4em;
	--h3-size: 1.3em;
	--h4-size: 1.2em;
	--h5-size: 1.1em;
	--h6-size: 1em;
	/*Links*/
	--link-color: var(--riviera-color);
	--link-decoration: none;
	/*File Navigator*/
	--nav-item-background-hover: var(--riviera-bg);
	--nav-item-background-active: var(--riviera-bg);
	/*Icons*/
	--icon-color: var(--riviera-color);
	/*tabs*/
	--tab-background-active: var(--riviera-bg);
	--tab-container-background: var(--riviera-bg);
}

/*.metadata-properties .svg-icon {
	color: rgba(105, 128, 85, 1);
}*/
.inline-title {
	margin-bottom: 2em;
}
